/*
added colour, a background color a font and changed the size to make it responsive
*/
body{
color: #500000;
background-color: #80ffff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1vw;
}
/*added color to the links when hovering, visited or neither*/
a{
    color: #007500;
}

a:hover{
    color: #673147;
}

a:visited{
    color: #39008F;
}
/*the different font styles for the custom font all with different weights or
if its italic or not and checks if it can change on all devices if not it defaults to a sans-serif font*/
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and(max-width:800px) {
    body{
        width: 100%;/* The width is 100%, when the viewport is 800px or smaller */
    }
}